
html {
  background-color: gray;
}


input {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

textarea {
  display: flex;
  width: 100%;
  
  
}

button {
display: flex;
margin-top: 13px;
margin-left: 450px;
background-color: rgb(159, 156, 156);
color: #fff;

}

button:hover {
  cursor: pointer;
}

.App {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  
}

form {
  border: solid 2px rgb(92, 92, 173);
  background-color: rgb(92, 92, 173);
  border-radius: 25px;
  padding: 50px;
  width: 70%;
}