
html {
  background-color: gray;
}


input {
  display: flex;
  margin-bottom: 10px;
  width: 50%;
}

textarea {
  display: flex;
  width: 50%;
  
  
}

button {
display: flex;
margin-top: 10px;

}

.App {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  
}

form {
  border: solid 2px rgb(92, 92, 173);
  background-color: rgb(92, 92, 173);
  border-radius: 25px;
  padding: 50px;
  width: 70%;
}